* {
    box-sizing: border-box;
}

pre,
body {
    margin: 0;
}

span,
button,
textarea {
    margin-left: 0.5em;
}

.pl,
.gen,
.relgen,
.tr,
.debug {
    overflow: scroll;
    padding: 5px;
}

ul {
    list-style-type: none;
    clear: left;
    padding: 0;
    margin: 0;
}

.countlistfilter {
    padding: 5px;
}

input.listfilter {
    margin-left: 2em;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 1px dashed;
}

input.listfilter:focus {
    outline: none;
    background-color: papayawhip;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.listitem {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    line-height: 1em;
}

ul.listselection {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.listselection > li {
    margin-bottom: 10px;
}

#main-container > .grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
        'p p'
        'g rg'
        't d';
    grid-gap: 10px;
    max-height: 100vh;

    .debug {
        grid-area: d;
        background-color: hsl(37, 10%, 90%);
    }

    .tr {
        grid-area: t;
        background-color: hsl(37, 10%, 90%);
    }

    .pl {
        grid-area: p;
        background-color: hsl(97, 10%, 80%);

        .listitem.selected {
            background-color: hsl(37, 100%, 82%);
        }

        .listitem:hover {
            background-color: hsl(37, 50%, 82%);
        }

        .listitem {
            background-color: hsl(37, 100%, 92%);
        }

        .listitem > .count {
            color: hsl(37, 40%, 52%);
        }
    }

    .gen {
        grid-area: g;
        background-color: hsl(37, 10%, 90%);

        .listitem.selected {
            background-color: hsl(37, 100%, 82%);
        }

        .listitem:hover {
            background-color: hsl(37, 50%, 82%);
        }

        .listitem {
            background-color: hsl(37, 100%, 92%);
        }

        .listitem > .count {
            color: hsl(37, 40%, 52%);
        }
    }

    .relgen {
        grid-area: rg;
        background-color: hsl(37, 10%, 90%);

        .listitem.selected {
            background-color: hsl(37, 100%, 82%);
        }

        .listitem:hover {
            background-color: hsl(37, 50%, 82%);
        }

        .listitem {
            background-color: hsl(37, 100%, 92%);
        }

        .listitem > .count {
            color: hsl(37, 40%, 52%);
        }
    }
}
