* {
    box-sizing: border-box;
}

span,
button,
textarea {
    margin-left: 0.5em;
}

.pl,
.gen,
.relgen {
    overflow: scroll;
    padding: 5px;
}

/*
.gen {
    max-height: 53vh;
}

.relgen {
    max-height: 33vh;
}
*/

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.listitem {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    line-height: 1em;
}

#main-container > .grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    /*
    grid-template-rows: 1fr;
    grid-template-areas: 'g rg';
    */
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        'p p'
        'g rg';
    grid-gap: 10px;
    max-height: 100vh;

    .pl {
        grid-area: p;
        .listitem.selected {
            background-color: hsl(37, 100%, 82%);
        }

        .listitem:hover {
            background-color: hsl(37, 50%, 82%);
        }

        .listitem {
            background-color: hsl(37, 100%, 92%);
        }

        .listitem > .count {
            color: hsl(37, 40%, 52%);
        }
    }

    .gen {
        grid-area: g;

        .listitem.selected {
            background-color: hsl(37, 100%, 82%);
        }

        .listitem:hover {
            background-color: hsl(37, 50%, 82%);
        }

        .listitem {
            background-color: hsl(37, 100%, 92%);
        }

        .listitem > .count {
            color: hsl(37, 40%, 52%);
        }
    }

    .relgen {
        grid-area: rg;
        background-color: hsl(340, 57%, 64%);

        .listitem.selected {
            background-color: hsl(37, 100%, 82%);
        }

        .listitem:hover {
            background-color: hsl(37, 50%, 82%);
        }

        .listitem {
            background-color: hsl(37, 100%, 92%);
        }

        .listitem > .count {
            color: hsl(37, 40%, 52%);
        }
    }
}
