* {
    box-sizing: border-box;
}

span,
button,
textarea {
    margin-left: 0.5em;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.listitem.selected {
    background-color: hsl(37, 100%, 82%);
}

.listitem:hover {
    background-color: hsl(37, 50%, 82%);
}

.listitem {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: hsl(37, 100%, 92%);
}

.listitem > .count {
    background: hsl(37, 80%, 92%);
}

.singlemode {
    display: grid;
    grid-template-rows: auto 200px;
    grid-template-areas:
        'main '
        'footer ';

    .header {
        grid-area: header;
    }

    .single_view {
        grid-area: main;
        background-color: #eef;
    }

    .list_view {
        grid-area: footer;
        background-color: #efe;
        overflow-x: scroll;
        white-space: nowrap;

        li {
            display: inline-block;
        }

        .listitem {
            padding: 1px;
        }

        .listitem.highlight {
            padding: 0;
            border: 1px dashed #aaa;
        }
    }
}
